body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    width: 80%;
}

.container h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.user-list {
    background-color: white;
    padding: 10px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    margin: auto;
}

.user-data {
    width: 30%;
    margin: auto;
}

.user-data h3 {
    color: blue;
    text-align: center;
}

.user-data img {
    width: 100%;
    border-radius: 100px;
    justify-content: center;
}

.btn-new {
    display: flex;
    margin: auto;
    background-color: green;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
}

@media screen and (max-width:600px) {
    .btn-new {
        font-size: 10px;
    }
    .user-data h3 {
        font-size: 12px;
    }
    .container h1 {
        font-size: 15px;
    }
    .user-data {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .user-data {
        width: 60%;
    }
}